extends ../../layout

block content
  .page-header
    h1= quiz.name

    if user.isTeacher
      ol
        each question in questions
          li
            span= question.question
            ul
              each choice in question.choices
                li
                  span= choice
      a.btn.btn-primary(href=`${id}/add`)
        i.fa.fa-plus
        | Add a question

    a.btn.btn-primary(href=`${id}/1`)
      i.fa.fa-pencil
      | Start the quiz!

